<% if user_signed_in? %>
<p>ログインしてます</p>
<% if @user.image_url %>
<%= image_tag @user.image_url(:thumb) %>
<% else %>
<%= image_tag 'default_image.jpg', :size => '100x100' %>
<% end %>
<% else %>
<p>ログインしてください</p>
<% end %>